html {
  position: relative;
  min-height: 100%;
  height: 100%
}

body {
  background-color: #202020;
  min-height: 100%;
  height: 100%;
}

.App {
}

.main {
  min-height: calc(100vh - 94.58px);
}

.footer {

}


.remove-btn {
  margin-right: 0.5rem;
}

/*Fade animation on new item*/
.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}