html {
}

body {
  background-color: #202020;
}

.app {

}

/*Navbar as header*/
.sticky-nav {
	position: sticky;
	top: 0;
  z-index: 1;/*Hacky and only partially successful stopping overlap*/
}

.content {
}

/*Hacky and only partially successful stopping overlap*/
.listy {
  z-index: -1;
}

/*Navbar as footer - fail to stick to bottom*/
.footer-nav {
  bottom: 0;
}

.remove-btn {
  margin-right: 0.5rem;
}

/*Fade animation on new item*/
.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}